@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

.team_page {
  background: black;
  min-height: 100vh;
}

.team_container {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid red; */
  color: white;
  flex-wrap: wrap;
}

.teamImageName {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  min-height: 40vh;
  width: 10rem;
  align-items: center;
  flex: 1 1 10rem;
}

.team_image {
  width: 7rem;
  height: 7rem;
  /* border: 1px solid red; */
  transform: rotateZ(45deg);
  transform-origin: center;
  margin-bottom: 2rem;
  overflow: hidden;
  /* border: 1px solid red; */
}

.team_image img {
  object-fit: contain;
  width: 100%;
  transform-origin: center;
  transform: rotateZ(-45deg);
  filter: grayscale(100%);
  /* border: 1px solid red; */
}

.team_designation {
  font-size: 0.8rem;
  margin-top: 1rem;
  color: rgb(196, 196, 196);
}

.teamDescription {
  width: 90%;
  margin: auto;
  transform: translateY(-20%);
}

.teamDescHeading {
  font-size: 1.5rem;
}
.teamDescQuote {
  padding: 1rem 0;
  font-style: italic;
}

.teamDescName {
  padding: 1rem 0;
}

.teamDescDesignation {
  padding-bottom: 1rem;
}

@media screen and (max-width: 700px) {
  .team_container{
    padding-top: 5rem;
  }
  .teamDescription {
    width: 90%;
    margin: auto;
    transform: translateY(0%);
  }
}
