@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Sora", serif;
  list-style: none;
  text-decoration: none;
}

a {
  color: #f6ff00;
}
#my-scrollbar {
  height: 100vh;
  margin: 0;
}

body {
  position: relative;
}
.serviceOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background: black;
  opacity: 0;
  z-index: 10000000000;
  pointer-events: none;
  transition: all 0.5s ease;
}

.cross {
  float: right;
  height: 3rem;
  width: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000000;
}
.cross div {
  width: 80%;
  height: 2px;
  background-color: white;
  transform-origin: center;
}

.cross div:nth-of-type(1) {
  transform: rotateZ(45deg);
}
.cross div:nth-of-type(2) {
  transform: rotateZ(-45deg);
}

.serviceOverlayContent {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  color: #f6ff00;
  background: black;
}

.serviceOverlayImg {
  object-fit: contain;
  height: 30%;
  /* margin-bottom: 3rem; */
  width: 40%;
  margin: 0 auto 3rem auto;
}
.serviceOverlayHeading {
  font-size: 2rem;
  text-align: center;
}

.serviceOverlayDesc {
  width: 80%;
  margin: 1rem auto;
  font-size: 0.8rem;
  text-align: center;
  font-style: italic;
}

.serviceOverlayDetails {
  width: 80%;
  font-size: 0.8rem;
  margin: 2rem auto;
}
.serviceLinks {
  text-align: center;
}

.serviceLinks button {
  border: none;
  outline: none;
  background: #f6ff00;
  color: black;
  padding: 0.7rem 1.5rem;
}

/* nav  */
.nav {
  height: 10vh;
  width: 100%;
  color: #f6ff00;
  background-color: black;
  letter-spacing: 0.1rem;
  z-index: 1000000000;
}
.nav-s {
  height: 100%;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1000000000;
}
.nav-content {
  display: flex;
  justify-content: space-around;
  width: 40rem;
  font-size: 1rem;
  align-items: center;
  list-style: none;
  z-index: 1000000000;
}

.nav-content li {
  color: #f6ff00;
  z-index: 1000000000;
}
.nav-title {
  font-size: 2.5rem;
  top: 0;
  position: absolute;
  height: 3rem;
  width: 5rem;
  z-index: 1000000000;
}
.nav-title-a {
  position: absolute;
  top: -70px;
  left: -50px;
  color: white;
  height: 100%;
  width: 100%;
  z-index: 1000000000;
  border: 1px solid red;
}
.nav-title-a img {
  height: 18rem;
  width: 18rem;
  z-index: 1000000000;
  object-fit: contain;
}

@media screen and (max-width: 800px) {
  .nav-title-a img {
    height: 15rem;
    width: 15rem;
    transform: translateX(-10%);
  }
}
.nav button {
  height: 3rem;
  width: 9rem;
  background-color: #264bb1;
  font-size: 1rem;
  color: white;
  border: none;
}

.hamburger_icon,
.burger_nav {
  display: none;
}
/* landing page */

.landing_page {
  min-height: 100vh;
  overflow-x: hidden;
}

.landing_page_1st {
  position: relative;
  min-height: 100vh;
  color: #f6ff00;
  background: black;
  width: 100%;
  overflow: hidden;
}

.landingQuotes {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

.landing_heading_button_container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing_image1 {
  flex: 1;
}

.landing_heading_button {
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
  width: 100%;
  height: 50%;
}
.landing_heading_button > div {
  width: 360%;
}
.landing_heading {
  display: flex;
  font-size: 10rem;
  width: 100%;
  position: relative;
}

.landing_heading div:nth-of-type(1) {
  animation: marquee1 15s linear infinite;
}
.landing_heading div:nth-of-type(2) {
  animation: marquee1 15s linear infinite;
}

@keyframes marquee1 {
  to {
    transform: translate(-100%);
  }
}

.landing_button {
  padding: 0.8rem 2rem;
  background: black;
  border: none;
  outline: none;
  color: white;
  margin-top: 2rem;
}

.landing_image1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
}
.landing_image1 img {
  max-height: 100%;
}

.partners {
  margin: 3rem auto 0 auto;
  width: 90%;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.partners div {
  font-size: 2rem;
  text-transform: uppercase;
}

.landing_containers {
  margin-top: 3rem;
  height: 100vh;
  display: flex;
  color: white;
}
.landing_container1 {
  background: black;
  width: 50%;
  height: 90%;
  /* color: white; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.landing_container2 {
  background: #f6ff00;
  height: 80%;
  width: 45%;
  border-radius: 25px;
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.landing_container1 section {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000000000;
}
.landing_container2 img {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 90%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.landing_container1_heading,
.landing_container1_para,
.landing_container2_para {
  color: white;
  width: 60%;
  padding-bottom: 4rem;
}
.landing_container2_para {
  color: black;
}

.landing_container1_heading {
  font-size: 3rem;
  text-transform: capitalize;
  padding-bottom: 2rem;
  text-align: justify;
}

.landing_container2_button {
  width: 60%;
}
.landing_container2_button button {
  border: none;
  outline: none;
  background: black;
  color: #dfe2e1;
  padding: 0.7rem 1.5rem;
}

/* landing page 2nd  */

.landing_page_2nd {
  min-height: 100vh;
  display: flex;
  background: #000000;
}
.landing_page2_text,
.landing_page2_images {
  flex: 1;
}
.landing_page2_text {
  padding: 7rem;
}
.page2_heading :is(h2, h5) {
  color: #f6ff00;
}

.page2_heading {
  font-size: 1.4rem;
  color: white;
}
.page2_questions {
  margin-top: 4rem;
  color: #f6ff00;
}
.que1 {
  font-size: 1.2rem;
  margin: 1rem 0;
  color: #f6ff00;
  font-weight: 700;
  cursor: pointer;
}

/* change height to display ans   */
.ans {
  color: #fff;
}

.ans1 {
  height: 0;
  overflow: hidden;
  color: #fff;
}

.ans1Active {
  height: fit-content;
}

.landing_page2_images {
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing_page2_images img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.abstract2 {
  display: none;
}

/* landing page 3  */

/* bg animation */

.bgsvg {
  position: absolute;
  top: 0;
  left: 0;
}

svg {
  height: 100vh;
  width: 100vw;
}
path {
  fill: none;
  stroke: rgba(221, 221, 221, 0.1);
  stroke-width: 0.5px;
  vector-effect: non-scaling-stroke;
}
.landing_page_3rd {
  background-color: #000000;
  width: 100%;
  min-height: 110vh;
  overflow: hidden;
  position: relative;
  color: white;
}

.page3_heading {
  height: 20vh;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f6ff00;
}

.page3_content {
  width: 90%;
  margin: auto;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.contents {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  position: relative;
}
.content_heading {
  padding: 1rem 0;
  color: #f6ff00;
}

.contentImageContainer {
  height: 6rem;
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content_image {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  transform-origin: center;
  transform: scale(3) translateX(1px);
}
.content_desc {
  width: 60%;
}

#contentHeading1 {
  padding: 2rem 0 !important;
}
.contents:nth-child(1):after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2px;
  background: rgb(56, 56, 56);
}
.contents:nth-child(2):after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2px;
  background: rgb(56, 56, 56);
}
.contents:nth-child(4):after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2px;
  background: rgb(56, 56, 56);
}
.contents:nth-child(5):after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2px;
  background: rgb(56, 56, 56);
}
.contents:nth-child(1)::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: left;
  height: 2px;
  width: 100%;
  background: rgb(56, 56, 56);
}
.contents:nth-child(2)::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: left;
  height: 2px;
  width: 100%;
  background: rgb(56, 56, 56);
}
.contents:nth-child(3)::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: left;
  height: 2px;
  width: 100%;
  background: rgb(56, 56, 56);
}

/* page 4  */

.landing_page_4th {
  min-height: 100vh;
  display: flex;
  background: #000000;
  padding-bottom: 20rem;
}

.page_4_left,
.page_4_right {
  flex: 1;
}

.page4_top_content {
  min-height: 30vh;
  margin: 3rem;
}

.page4_heading {
  font-size: 3rem;
  color: #f6ff00;
}
.page4_desc {
  width: 50%;
  margin-bottom: 1rem;
  color: #fff;
}

.page4_button button {
  outline: 0;
  border: 0;
  padding: 0.8rem 1.2rem;
  color: black;
  background: #f6ff00;
}

.page4_left_one,
.page4_left_two,
.page4_right_one,
.page4_right_two {
  width: 30rem;
  height: 40rem;
  margin: 3rem;
}

.page4_left_one img,
.page4_left_two img,
.page4_right_one img,
.page4_right_two img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .page4_left_one img, */
.page4_left_two img,
/* .page4_right_one img, */
.page4_right_two img {
  margin-top: 6rem;
}

.page4_left_one_content,
.page4_left_two_content,
.page4_right_one_content,
.page4_right_two_content {
  height: 15vh;
}
/* .landing_page_4th div {
  color: #080808;
} */

.page4_left_one_heading,
.page4_left_two_heading,
.page4_right_one_heading,
.page4_right_two_heading {
  font-size: 1.2rem;
  margin: 1rem 0;
  color: #f6ff00;
}
.page4_left_one_text,
.page4_left_two_text,
.page4_right_one_text,
.page4_right_two_text {
  width: 80%;
  color: white;
}

/* page 5 */

.landing_page_5th {
  padding-top: 14rem;
  min-height: 100vh;
  background: #000000;
  width: 100%;
  overflow-x: hidden;
}

.page5_heading {
  font-size: 3rem;
  height: 20vh;
  display: flex;
  align-items: flex-end;
  width: 90%;
  margin-left: auto;
  color: #f6ff00;
}
.testimonials {
  width: 150%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;
}

.testimonial_container {
  width: 25rem;
  min-height: 10vh;
  margin: 2rem 2rem 0 0;
}
.testimonial_white_box {
  width: 100%;
  min-height: 10vh;
  background: #fffff0;
  padding: 2rem;
  border-radius: 25px 25px 25px 0;
}
.testimonial_text {
  width: 90%;
  margin: auto;
  color: #080808;
}

.testimonial_belong {
  width: 60%;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.testimonial_img {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}
.testimonial_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.testimonials_top,
.testimonials_bottom {
  display: flex;
  color: white;
  /* animation:  testimonialscroll 30s linear forwards inverse; */
}
#top1,
#top2,
#bottom1,
#bottom2 {
  width: 100%;
  display: flex;
}

#top1,
#bottom1 {
  animation: marquee 50s linear infinite;
}
#top2,
#bottom2 {
  animation: marquee2 50s linear infinite;
  animation-delay: 25s;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-200%);
  }
}

/* page 6  */

.landing_page_career {
  background: #dfe2e1;
  background: url("./Images/abstract4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  display: flex;
  justify-content: center;
  color: #f6ff00;
  font-size: 2rem;
  align-items: center;
}
.landing_page_contact {
  background: #000000;
  height: 40vh;
  display: flex;
}
.landing_page_contact_content {
  width: 90%;
  margin-left: 8rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.landing_page_contact_content div {
  font-size: 1.3rem;
  width: 60%;
  color: #f6ff00;
}
.landing_page_contact_content button {
  outline: 0;
  border: none;
  width: 6rem;
  height: 2.5rem;
  background-color: #f6ff00;
  color: black;
  margin-top: 1rem;
}

.landing_page_contact_img {
  width: 100%;
  height: 100%;
  position: relative;
}
.landing_page_contact_img section {
  height: 100%;
  position: absolute;
  top: 0;
  right: 10%;
  width: 50%;
}

[data-scroll] {
  transition: opacity 1s;
}
[data-scroll="in"] {
  opacity: 1;
}
[data-scroll="out"] {
  opacity: 0;
}

.nav_burger {
  display: none;
}

/* media queries  */

@media screen and (max-width: 1000px) {
  .landing_image1 {
    display: none;
  }
  .partners {
    flex-wrap: wrap;
    padding-bottom: 1rem;
  }
  .partners div {
    flex: 1 1 8rem;
    display: grid;
    place-items: center;
  }
  .landing_containers {
    flex-wrap: wrap;
    min-height: 100vh;
    height: auto;
    margin: 0;
  }

  .landing_heading_button > div {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .landing_container1,
  .landing_container2 {
    flex: 1 1 28rem;
    min-height: 100vh;
    height: auto;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .landing_container2 {
    margin: 0;
  }
  .landing_container1 section {
    z-index: 1;
    width: 70%;
    top: 70%;
  }
  .landing_container2 img {
    top: 60%;
  }
  .lottie1 {
    z-index: 1;
  }
  .landing_container1_heading,
  .landing_container1_para,
  .landing_container2_para {
    width: 90%;
    padding-bottom: 0;
    margin: 1rem auto;
  }
  .landing_container2_button {
    margin: 2rem;
  }
  .landing_page2_text {
    padding: 1rem 0 0 1rem;
  }
  .landing_page_contact_img {
    display: none;
  }
  .landing_page_contact_content {
    margin: auto;
  }
  .landing_page_4th {
    flex-wrap: wrap;
  }
  .landing_page_4th > div {
    flex: 1 1 5rem;
    display: grid;
    place-items: center;
  }
  .landing_page_4th > div:nth-of-type(1) {
    margin-bottom: 10rem;
  }
  .page4_left_one,
  .page4_left_two,
  .page4_right_one,
  .page4_right_two {
    width: 40rem;
    height: 30rem;
  }

  .contents:nth-child(1):after,
  .contents:nth-child(2):after,
  .contents:nth-child(4):after,
  .contents:nth-child(5):after,
  .contents:nth-child(1)::before,
  .contents:nth-child(2)::before,
  .contents:nth-child(3)::before {
    display: none;
  }
  .testimonial_white_box {
    width: 30rem;
  }
  .testimonial_container {
    width: 50rem;
  }
  #top1,
  #bottom1 {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 950px) {
  .landing_page_1st {
    min-height: 90vh;
  }
  .landing_heading_button_container {
    min-height: 90vh;
    height: auto;
  }
  .landing_heading {
    font-size: 7vw;
  }
  .partners {
    display: none;
  }
  .partners > div {
    font-size: 4vw;
  }
  .landing_containers section,
  .landing_containers img {
    display: none;
  }
  .landing_container1,
  .landing_container2 {
    min-height: 20vh;
  }
  .landing_page2_images {
    display: none;
  }
  .page3_heading {
    width: 90%;
    margin: 1rem auto;
    text-align: center;
  }
  .contents {
    margin: 2rem 0;
  }
  .que1 {
    width: 95%;
  }
  .ans,
  .ans1 {
    width: 90%;
  }
  .landing_page_5th {
    display: none;
  }
  .landing_page_career {
    margin-top: 15rem;
  }
  .landing_container1_heading {
    padding-top: 5rem;
    text-align: center;
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 700px) {
  .page4_left_one,
  .page4_left_two,
  .page4_right_one,
  .page4_right_two {
    width: 60vw;
    height: 80vh;
  }
  .page4_left_one_text,
  .page4_left_two_text,
  .page4_right_one_text,
  .page4_right_two_text {
    width: 100%;
    text-align: center;
  }
  .page4_left_one_heading,
  .page4_left_two_heading,
  .page4_right_one_heading,
  .page4_right_two_heading {
    text-align: center;
  }
  .page4_desc {
    width: 100%;
  }
  .page5_heading {
    width: 100%;
    font-size: 2rem;
    display: grid;
    place-items: center;
  }
  .page3_content {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 1340px) {
  .landing_heading {
    font-size: 6rem;
  }
}
@media screen and (max-width: 1004px) {
  .landing_heading {
    font-size: 4rem;
  }
  .landing_heading_button > div {
    width: 400%;
  }
}
@media screen and (max-width: 500px) {
  .landing_heading {
    font-size: 2.5rem;
    width: 60%;
    margin: auto;
  }
  .landing_heading_button > div {
    width: 100%;
  }

  .landing_heading div:nth-of-type(1) {
    animation: none;
    width: 100%;
    text-align: center;
  }
  .landing_heading div:nth-of-type(2) {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .landing_page_contact_content div {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  /* .contents{
    height:20vh
  }
  .landing_container1_para,.landing_container2_para{
    font-size: 1.4rem;
  }
  .landing_page_2nd{
    min-height: 60vh;
  } */
}

/* hamburger  */

@media screen and (max-width: 800px) {
  .nav-content {
    display: none;
  }

  .nav-title {
    left: 50%;
    transform: translateX(-50%);
  }

  .burger_nav {
    z-index: 1000000000;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: #080808;
    width: 0%;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
  }

  .burger_nav_active {
    width: 50%;
  }

  .hamburger_icon {
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
    position: absolute;
    top: 0;
    right: 5%;
    z-index: 10000000000;
  }
  .hamburger_icon div {
    height: 3px;
    width: 100%;
    background: white;
  }
  .hamburger {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hamburger_links {
    color: white;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 1.8rem;
    pointer-events: none;
    cursor: none;
    opacity: 0;
    transition: opacity 0.2s linear;
  }

  .hamburger_links a {
    color: white;
  }
  .hamburger_links_active {
    opacity: 1;
    pointer-events: auto;
    cursor: default;
  }
}

@media screen and (max-width: 300px) {
  .burger_nav_active {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .page4_left_one img,
  .page4_left_two img,
  .page4_right_one img,
  .page4_right_two img {
    object-fit: contain;
  }
  .page4_left_one ,
  .page4_left_two ,
  .page4_right_one ,
  .page4_right_two {
    height: 60vh;
    width: 80vw;
  }
}

/* footer   */

.footer {
  min-height: 80vh;
  width: 99.5%;
  font-family: "Poppins";
}
.footer div {
  /* border:1px solid red */
}
.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6 {
  color: #080808;
  line-height: 2rem;
  font-weight: 100;
}

.footer-content {
  min-height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1.8rem;
}

.footer-content > div {
  flex: 1 1 25rem;
}
.footer-s {
  display: flex;
}
.footer-ser {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 60vh;
  width: 50%;
  align-items: center;
  margin-left: 7rem;
}

.footer-ser > div {
  flex: 1 1 10rem;
}

.footer-ser h1 {
  margin-bottom: 2.5rem;
}
.footer-service {
  height: 25rem;
  width: 40rem;
  /* display: flex;
  justify-content: space-around; */
  font-size: 0.8rem;
  /* align-items: center; */
}
.footer-service1 {
  height: 100%;
  width: 10rem;
  color: #8e8e8e;
}
.footer-service2 {
  width: 12.2rem;
  margin-left: 1rem;
  color: #8e8e8e;
}
.footer-company {
  font-size: 0.8rem;
  /* height: 25rem; */
  width: 12rem;
  margin-left: 2rem;

  color: #8e8e8e;
}
.footer-resources {
  font-size: 0.8rem;
  min-height: 10vh;
  width: 12rem;
  color: #8e8e8e;
}
.footer-ser h1 {
  font-size: 1.2rem;
  color: black;
  position: relative;
}
.footer-service h1::before {
  content: "";
  background-color: #cac7c7;
  height: 1px;
  width: 20.5rem;
  top: 2.4rem;
  left: 0;
  position: absolute;
}
.footer-company h1::before {
  content: "";
  background-color: #cac7c7;
  height: 1px;
  width: 8rem;
  top: 2.4rem;
  left: 0;
  position: absolute;
}
.footer-resources h1::before {
  content: "";
  background-color: #cac7c7;
  height: 1px;
  width: 8rem;
  top: 2.4rem;
  left: 0;
  position: absolute;
}
.footer-business {
  width: 35%;
  height: 100%;
  color: #8e8e8e;
  margin-top: 1.8rem;
}
.footer-business button {
  padding: 1rem 3.5rem;
  background-color: white;
  font-size: 1rem;
  color: #f6ff00;
  font-weight: 600;
  border: 2px solid #f6ff00;
  margin-left: 14rem;
}
.footer-business h1 {
  margin-left: 14rem;
  font-size: 1.1rem;
  margin-top: 2.5rem;
  color: black;
}
.footer-business h2 {
  margin-left: 14rem;
  font-size: 1rem;
  margin-top: 1rem;
}
.footer-business h4 {
  margin-left: 14rem;
  font-size: 1.1rem;
  margin-top: 2.5rem;
  color: black;
}
.footer-business h5 {
  margin-left: 14rem;
  font-size: 1rem;
  margin-top: -0.6rem;
}
.footer-business h6 {
  margin-left: 14rem;
  font-size: 1rem;
  margin-top: 1rem;
}
.footer-down {
  display: flex;
  align-items: center;
  text-align: center;
  min-height: 10vh;
  width: 79%;
  margin: auto;
  position: relative;
  color: #8e8e8e;
}
.footer-down::before {
  content: "";
  background-color: #cac7c7;
  height: 0.5px;
  width: 95%;
  top: 0.7rem;
  left: 0;
  position: absolute;
}
.footer-down h1 {
  font-size: 0.8rem;
  margin-right: 3rem;
  margin-top: 1rem;
  color: #686464;
}
.footer-down h2 {
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-right: 3rem;
  color: #686464;
}
.footer-down h4 {
  font-size: 0.8rem;
  margin-top: 1rem;
  color: #686464;
}

@media screen and (max-width: 900px) {
  .footer-business button,
  .footer-business h1,
  .footer-business h2,
  .footer-business h3,
  .footer-business h4,
  .footer-business h5,
  .footer-business h6 {
    margin-left: 1rem;
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .footer-service,
  .footer-service1,
  .footer-service2 {
    min-height: 10vh;
    height: auto;
  }
  .footer-service2 {
    margin-left: 0;
  }
  .footer-content,
  .footer-ser {
    margin-left: 0;
  }
  .footer-company {
    margin-top: 2rem;
  }
  .footer-s {
    display: flex;
    flex-wrap: wrap;
    min-height: 10vh;
    height: auto;
  }
  .footer-s > div {
    flex: 1 1 20rem;
  }
  /* .footer-service1 h3,.footer-service2 h3{
    display: block;
  } */
}
